# Python
__pycache__/
*.pyc

# Environments
.env
*.env
venv/
env/
.venv/

# Data
data/raw/*
data/processed/*
data/temp/*
data/osm/

# Output files (not tracked by Git)
output/stl/*
output/png/*

# macOS
.DS_Store
